In [6]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

dframe1 = DataFrame({'key':['X','Y','Z'],'data_set_1':[1,2,3]})

dframe1

   data_set_1 key
0           1   X
1           2   Y
2           3   Z

In [7]:
dframe2 = DataFrame({'key':['X','Y','Z'],'data_set_1':[1,2,3]})

dframe2

   data_set_1 key
0           1   X
1           2   Y
2           3   Z

In [8]:
pd.merge(dframe1,dframe2)

   data_set_1 key
0           1   X
1           2   Y
2           3   Z